

body {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items:center;
}


.calcu-body {
  background-color: white;
  border: 1px solid black;;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.calcu-display {
  border: 1px solid black;
  height: 300px;
  padding: 5px;
  margin: 10px 10px 0px 10px;

}

.calcu-buttons-container {
  border: 1px solid black;
  height: 500px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.first-set-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0px;
  justify-content: space-evenly;
}

.first-calcu-buttons {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  width: 95px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.second-set-buttons {
  width: 95px;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.second-calcu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;


}

.second-calcu-buttons.above {
  border: 1px solid red;
  width: 95px;
  height: 90px;
  border-radius: 10px;

}

.second-calcu-buttons.below {
  border: 1px solid green;
  width: 95px;
  height: 396px;
  margin-bottom: 0.5px;
  border-radius: 10px;


}




